{% extends "base.html" %}
{% load static %}

{% block toplinks %}
    <link rel="stylesheet" href="{% static 'scripts/fancybox/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'scripts/emoji/dist/emojionearea.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
{% endblock %}

{% block main %}
    <main class="inner-main">
		{% block top-container %}{{ block.super }}{% endblock %}

		<div class="top-panel">
			<div class="container">
				<div class="breadcrumbs">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
                            <a href="{% url 'homepage' %}" class="breadcrumbs__link">Главная</a>
                        </li>
						<li class="breadcrumbs__item">
                            <a href="{% url 'forum_categories' %}" class="breadcrumbs__link">Форум</a>
                        </li>
						<li class="breadcrumbs__item">
                            <a class="breadcrumbs__link">Создать тему</a>
                        </li>
					</ul>
				</div>
			</div>
		</div>

		<div class="main-greed">
			<div class="container">
				<div class="main-greed__left-column main-greed__left-column--form mrg-right">
					<div class="add-news">
						<form class="form form--forum"
							  id="threadform"
							  action=""
							  enctype="multipart/form-data"
							  method="post">
							{% csrf_token %}
							<section class="form__wrapper">
								<h1 class="title mrg-vertical">Создать тему</h1>
								<div class="form__for-flex">
									<div class="form__left-column">

										<label class="progect-label" for="category">Категория<sup>*</sup></label>
										<div>
											{{ form.category }}
										</div>

										<label class="progect-label" for="sections">Раздел<sup>*</sup></label>
										<div>
											<select id="section" class="progect-input" required=""></select>
										</div>

										<div>
											<label class="progect-label" for="avtor">Название<sup>*</sup></label>
											<input class="progect-input"
												   type="text"
												   id="avtor"
												   name="name"
												   required="">
										</div>

										<div>
											<label class="progect-label">Сообщение<sup>*</sup></label>
											<textarea class="progect-textarea progect-textarea--message"
													name="text" required=""></textarea>
										</div>
									</div>
									<div class="form__right-column form__right-column--flex">
										<div class="file-wrapper file-wrapper--forum">
											<input class="file-input"
												   type="file"
												   data-photo="three"
												   id="photo"
												   name="image1"
												   multiple="">
											<label class="progect-label file-label" for="photo">
												<span class="file-image"></span>Загрузите фото
											</label>
											<div class="photos"></div>
										</div>
										{% if user.is_authenticated %}
											<button class="button button--dark profile-form--dark" type="submit">
												Отправить
											</button>
										{% else %}
											<div style="color: red;">
												Чтобы создать тему, необходимо войти <br> или зарегистрироваться.
											</div>
										{% endif %}
									</div>
								</div>
							</section>
						</form>
					</div>
				</div>

				<div class="main-greed__right-column">
					<div class="bunner-side fixed-block">
						<a href="#" class="bunner-side__link">
							<img src="{% static 'img/banner10.jpg' %}" alt="Реклама на сайте">
						</a>
					</div>
				</div>

			</div>
		</div>
	</main>
{% endblock %}

{% block bottomlinks %}
    <script src="{% static 'scripts/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'scripts/headhesive/headhesive.min.js' %}"></script>
    <script src="{% static 'scripts/fancybox/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'scripts/main-header.js' %}"></script>
    <script src="{% static 'scripts/upload.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>
    <script src="{% static 'scripts/script2.js' %}"></script>

	<script type="text/javascript">
	    $(document).ready(function() {
	    	function update_form_action() {
			    var form = $('#threadform');
			    var url = '/forum/newthread/';
			    var section_id = $('#section option:selected').val();
			    form.attr('action', url + section_id + '/');
			};

			$('#category').on('change', function(){
			    var cat_id = $('#category option:selected').val();
			    var section = $('#section');
			    $.get('{% url "category_info" %}', {id: cat_id}, function(data){
					if (data) {
						$('#section').empty();
						for (var i=0; i<data.length; i++) {
							$('#section').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
						}
						update_form_action();
					}
			    });
			});

			$('#section').on('change', function(){
			    update_form_action();
			});

			$('#category :nth-child(3)').prop('selected', true).change();
	    });
	</script>
{% endblock %}
