<footer class="article__footer article-footer">
    <div class="article-footer__wrapper">
        <span class="article-footer__text">Расскажи друзьям:</span>
        <div class="social article-footer__social">
            <ul class="social__list">
                <li class="social__item">
                    <a href="#" class="social__link social__link--vk">
                        <span class="visually-hidden">Вконтакте</span>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link social__link--fb">
                        <span class="visually-hidden">Фейсбук</span>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link social__link--odnk">
                        <span class="visually-hidden">Одноклассники</span>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link social__link--tw">
                        <span class="visually-hidden">Твиттер</span>
                    </a>
                </li>
            </ul>
        </div>
        <span class="article-footer__views">2352</span>
        <a href="#" class="article-footer__bookmark"><span>Добавить новость</span> в закладки</a>
        <a href="#" data-fancybox="" data-src="#modal-write-us" class="article-footer__write-us">Написать нам</a>
    </div>
    <div class="alert alert--center">
        <p>Нашли ошибку? Выделите ее и нажмите Ctrl+Enter</p>
    </div>
</footer>