{% load static %}
{% load thumbnail %}

<section class="news">
    <div class="container">
        <div class="news__flex-row">

            <div class="half-card">
                <article class="half-line-news">
                    <a href="{% url 'content_show_article' city_block_2.0.slug %}" class="half-line-news__link">
                        <div class="half-line-news__image"
                             style="background-image: url({% thumbnail city_block_2.0.main_photo 131x131 crop %});">
                        </div>
                        <div class="half-line-news__wrapper">
                            <header class="half-line-news_header">
                                <h2 class="half-line-news__title">{{ city_block_2.0.title }}</h2>
                            </header>
                            <p class="half-line-news__text">{{ city_block_2.0.text|striptags|cut:"&nbsp;"|slice:"60" }}</p>
                            <div class="stamp">
                                <div class="stamp__left">
                                    <b class="stamp__item stamp__item--time stamp__item--time--grey">Час назад</b>
                                    <b class="stamp__item stamp__item--views stamp__item--views--grey">256</b>
                                </div>
                                <div class="stamp__right">
                                    <span class="stamp__item stamp__item--reading">Читать 5 мин</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="##" class="bookmark"><span class="bookmark__text bookmark__text--dark ">В закладки</span></a>
                    <a class="tag" href="{% url 'content_show_rubric' city_block_2.0.rubric.slug %}">
                        {{ city_block_2.0.rubric }}
                    </a>
                    <div class="hashteg">
                        {% for tag in city_block_2.0.tags.all %}
                            <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                </article>

                <article class="half-line-news">
                    <a href="{% url 'content_show_article' city_block_2.1.slug %}" class="half-line-news__link">
                        <div class="half-line-news__image"
                             style="background-image: url({% thumbnail city_block_2.1.main_photo 131x131 crop %});">
                        </div>
                        <div class="half-line-news__wrapper">
                            <header class="half-line-news_header">
                                <h2 class="half-line-news__title">{{ city_block_2.1.title }}</h2>
                            </header>
                            <p class="half-line-news__text">{{ city_block_2.1.text|striptags|cut:"&nbsp;"|slice:"60" }}</p>
                            <div class="stamp">
                                <div class="stamp__left">
                                    <b class="stamp__item stamp__item--time stamp__item--time--grey">Час назад</b>
                                    <b class="stamp__item stamp__item--views stamp__item--views--grey">256</b>
                                </div>
                                <div class="stamp__right">
                                    <span class="stamp__item stamp__item--reading">Читать 5 мин</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="##" class="bookmark"><span class="bookmark__text bookmark__text--dark ">В закладки</span></a>
                    <a class="tag" href="{% url 'content_show_rubric' city_block_2.1.rubric.slug %}">
                        {{ city_block_2.1.rubric }}
                    </a>
                    <div class="hashteg">
                        {% for tag in city_block_2.1.tags.all %}
                            <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                </article>
            </div>

            <article class="third-card third-card-news">
                <a href="{% url 'content_show_article' city_block_2.2.slug %}" class="third-card-news__link">
                    <div class="flex-wrapper">
                        <div class="third-card-news__img"
                             style="background-image: url({% thumbnail city_block_2.2.main_photo 293x195 crop %});">
                        </div>
                        <div class="third-card-news__wrapper">
                            <header class="third-card-news__header">
                                <h2 class="third-card-news__title">{{ city_block_2.2.title }}</h2>
                            </header>
                            <div class="stamp">
                                <div class="stamp__left">
                                    <b class="stamp__item stamp__item--time stamp__item--time--grey">Час назад</b>
                                    <b class="stamp__item stamp__item--views stamp__item--views--grey">256</b>
                                </div>
                                <div class="stamp__right">
                                    <span class="stamp__item stamp__item--reading">Читать 5 мин</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="##" class="bookmark"><span class="bookmark__text bookmark__text--dark ">В закладки</span></a>
                <a class="tag" href="{% url 'content_show_rubric' city_block_2.2.rubric.slug %}">
                    {{ city_block_2.2.rubric }}
                </a>
                <div class="hashteg">
                    {% for tag in city_block_2.2.tags.all %}
                        <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
                    {% endfor %}
                </div>
            </article>

            <article class="third-card third-card-news">
                <a href="{% url 'content_show_article' city_block_2.3.slug %}" class="third-card-news__link">
                    <div class="flex-wrapper">
                        <div class="third-card-news__img"
                             style="background-image: url({% thumbnail city_block_2.3.main_photo 293x195 crop %});">
                        </div>
                        <div class="third-card-news__wrapper">
                            <header class="third-card-news__header">
                                <h2 class="third-card-news__title">{{ city_block_2.3.title }}</h2>
                            </header>
                            <div class="stamp">
                                <div class="stamp__left">
                                    <b class="stamp__item stamp__item--time stamp__item--time--grey">Час назад</b>
                                    <b class="stamp__item stamp__item--views stamp__item--views--grey">256</b>
                                </div>
                                <div class="stamp__right">
                                    <span class="stamp__item stamp__item--reading">Читать 5 мин</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="##" class="bookmark"><span class="bookmark__text bookmark__text--dark ">В закладки</span></a>
                <a class="tag" href="{% url 'content_show_rubric' city_block_2.3.rubric.slug %}">
                    {{ city_block_2.3.rubric }}
                </a>
                <div class="hashteg">
                    {% for tag in city_block_2.3.tags.all %}
                        <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
                    {% endfor %}
                </div>
            </article>

            {% include 'includes/big_block.html' with big_block=big_block_2 %}

            <article class="third-card third-card-news-bg">
                <a href="{% url 'content_show_article' city_block_2.4.slug %}"
                   class="third-card-news-bg__link"
                   style="background-image: url({% thumbnail city_block_2.4.main_photo 293x380 crop %});">
                    <div class="third-card-news-bg__wrapper">
                        <header class="third-card-news-bg__header">
                            <h2 class="third-card-news-bg__title">{{ city_block_2.4.title }}</h2>
                        </header>
                        <div class="stamp">
                            <div class="stamp__left">
                                <b class="stamp__item stamp__item--time">Час назад</b>
                                <b class="stamp__item stamp__item--views">256</b>
                            </div>
                            <div class="stamp__right">
                                <span class="stamp__item stamp__item--reading">Читать 5 мин</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="##" class="bookmark bookmark--white"><span class="bookmark__text">В закладки</span></a>
                <a class="tag  tag--white" href="{% url 'content_show_rubric' city_block_2.4.rubric.slug %}">
                    {{ city_block_2.4.rubric }}
                </a>
                <div class="hashteg">
                    {% for tag in city_block_2.4.tags.all %}
                        <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
                    {% endfor %}
                </div>
            </article>

            <article class="third-card third-card-news">
                <a href="{% url 'content_show_article' city_block_2.5.slug %}" class="third-card-news__link">
                    <div class="flex-wrapper">
                        <div class="third-card-news__img"
                             style="background-image: url({% thumbnail city_block_2.5.main_photo 293x195 crop %});">
                        </div>
                        <div class="third-card-news__wrapper">
                            <header class="third-card-news__header">
                                <h2 class="third-card-news__title">{{ city_block_2.5.title }}</h2>
                            </header>
                            <div class="stamp">
                                <div class="stamp__left">
                                    <b class="stamp__item stamp__item--time stamp__item--time--grey">Час назад</b>
                                    <b class="stamp__item stamp__item--views stamp__item--views--grey">256</b>
                                </div>
                                <div class="stamp__right">
                                    <span class="stamp__item stamp__item--reading">Читать 5 мин</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="##" class="bookmark"><span class="bookmark__text bookmark__text--dark ">В закладки</span></a>
                <a class="tag" href="{% url 'content_show_rubric' city_block_2.5.rubric.slug %}">
                    {{ city_block_2.5.rubric }}
                </a>
                <div class="hashteg">
                    {% for tag in city_block_2.5.tags.all %}
                        <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
                    {% endfor %}
                </div>
            </article>

            <article class="third-card third-card-news">
                <a href="{% url 'content_show_article' city_block_2.6.slug %}" class="third-card-news__link">
                    <div class="flex-wrapper">
                        <div class="third-card-news__img"
                             style="background-image: url({% thumbnail city_block_2.6.main_photo 293x195 crop %});">
                        </div>
                        <div class="third-card-news__wrapper">
                            <header class="third-card-news__header">
                                <h2 class="third-card-news__title">{{ city_block_2.6.title }}</h2>
                            </header>
                            <div class="stamp">
                                <div class="stamp__left">
                                    <b class="stamp__item stamp__item--time stamp__item--time--grey">Час назад</b>
                                    <b class="stamp__item stamp__item--views stamp__item--views--grey">256</b>
                                </div>
                                <div class="stamp__right">
                                    <span class="stamp__item stamp__item--reading">Читать 5 мин</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="##" class="bookmark"><span class="bookmark__text bookmark__text--dark ">В закладки</span></a>
                <a class="tag" href="{% url 'content_show_rubric' city_block_2.6.rubric.slug %}">
                    {{ city_block_2.6.rubric }}
                </a>
                <div class="hashteg">
                    {% for tag in city_block_2.6.tags.all %}
                        <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
                    {% endfor %}
                </div>
            </article>

            <article class="third-card third-card-news-no-bg third-card-news-no-bg--avto">
                <a href="{% url 'content_show_article' city_block_2.7.slug %}" class="third-card-news-no-bg__link">
                    <div class="third-card-news-no-bg__wrapper">
                        <header class="third-card-news-no-bg__header">
                            <h2 class="third-card-news-no-bg__title">{{ city_block_2.7.title }}</h2>
                        </header>
                        <div class="stamp">
                            <div class="stamp__left">
                                <b class="stamp__item stamp__item--time stamp__item--time--grey">Час назад</b>
                                <b class="stamp__item stamp__item--views stamp__item--views--grey">256</b>
                            </div>
                            <div class="stamp__right">
                                <span class="stamp__item stamp__item--reading">Читать 5 мин</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="##" class="bookmark"><span class="bookmark__text bookmark__text--dark ">В закладки</span></a>
                <a class="tag" href="{% url 'content_show_rubric' city_block_2.7.rubric.slug %}">
                    {{ city_block_2.7.rubric }}
                </a>
                <div class="hashteg">
                    {% for tag in city_block_2.7.tags.all %}
                        <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
                    {% endfor %}
                </div>
            </article>

            <div class="half-card">
                <article class="half-line-news">
                    <a href="{% url 'content_show_article' city_block_2.8.slug %}" class="half-line-news__link">
                        <div class="half-line-news__image"
                             style="background-image: url({% thumbnail city_block_2.8.main_photo 131x131 crop %});">
                        </div>
                        <div class="half-line-news__wrapper">
                            <header class="half-line-news_header">
                                <h2 class="half-line-news__title">{{ city_block_2.8.title }}</h2>
                            </header>
                            <p class="half-line-news__text">{{ city_block_2.8.text|striptags|cut:"&nbsp;"|slice:"60" }}</p>
                            <div class="stamp">
                                <div class="stamp__left">
                                    <b class="stamp__item stamp__item--time stamp__item--time--grey">Час назад</b>
                                    <b class="stamp__item stamp__item--views stamp__item--views--grey">256</b>
                                </div>
                                <div class="stamp__right">
                                    <span class="stamp__item stamp__item--reading">Читать 5 мин</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="##" class="bookmark"><span class="bookmark__text bookmark__text--dark ">В закладки</span></a>
                    <a class="tag" href="{% url 'content_show_rubric' city_block_2.8.rubric.slug %}">
                        {{ city_block_2.8.rubric }}
                    </a>
                    <div class="hashteg">
                        {% for tag in city_block_2.8.tags.all %}
                            <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                </article>

                <article class="half-line-news">
                    <a href="{% url 'content_show_article' city_block_2.9.slug %}" class="half-line-news__link">
                        <div class="half-line-news__image"
                             style="background-image: url({% thumbnail city_block_2.9.main_photo 131x131 crop %});">
                        </div>
                        <div class="half-line-news__wrapper">
                            <header class="half-line-news_header">
                                <h2 class="half-line-news__title">{{ city_block_2.9.title }}</h2>
                            </header>
                            <p class="half-line-news__text">{{ city_block_2.9.text|striptags|cut:"&nbsp;"|slice:"60" }}</p>
                            <div class="stamp">
                                <div class="stamp__left">
                                    <b class="stamp__item stamp__item--time stamp__item--time--grey">Час назад</b>
                                    <b class="stamp__item stamp__item--views stamp__item--views--grey">256</b>
                                </div>
                                <div class="stamp__right">
                                    <span class="stamp__item stamp__item--reading">Читать 5 мин</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="##" class="bookmark"><span class="bookmark__text bookmark__text--dark ">В закладки</span></a>
                    <a class="tag" href="{% url 'content_show_rubric' city_block_2.9.rubric.slug %}">
                        {{ city_block_2.9.rubric }}
                    </a>
                    <div class="hashteg">
                        {% for tag in city_block_2.9.tags.all %}
                            <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                </article>
            </div>

        </div>
    </div>
</section>