{% load static %}
{% load thumbnail %}
{% load articles_tags %}

<section class="top-section-news">

    <article class="half-card half-card-news">
        <a class="half-card-news__link"
           href="{% url 'content_show_article' main_news.0.slug %}"
           style="background-image: url({% thumbnail main_news.0.main_photo 602x380 crop %});">
            <div class="half-card-news__wrapper">
                <header class="half-card-news__header">
                    <h2 class="half-card-news__title">{{ main_news.0.title }}</h2>
                </header>
                <div class="stamp">
                    <div class="stamp__left">
                        <b class="stamp__item stamp__item--time">{% calculate_article_time main_news.0.date_sort %}</b>
                        <b class="stamp__item stamp__item--views">256</b>
                    </div>
                    <div class="stamp__right">
                        <span class="stamp__item stamp__item--reading">
                            {% calculate_reading_time main_news.0.text|cut:"&nbsp;"|striptags %}
                        </span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="bookmark bookmark--white"><span class="bookmark__text">В закладки</span></a>
        <a class="tag tag--white" href="/content/rubric/{{ main_news.0.rubric.slug }}">{{ main_news.0.rubric }}</a>
        <div class="hashteg">
            {% for tag in main_news.0.tags.all %}
                <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
            {% endfor %}
        </div>
    </article>

    <article class="third-card third-card-news-bg">
        <a href="{% url 'content_show_article' main_news.1.slug %}"
           class="third-card-news-bg__link"
           style="background-image: url({% thumbnail main_news.1.main_photo 293x380 crop %});">
            <div class="third-card-news-bg__wrapper">
                <header class="third-card-news-bg__header">
                    <h2 class="third-card-news-bg__title">{{ main_news.1.title }}</h2>
                </header>
                <div class="stamp">
                    <div class="stamp__left">
                        <b class="stamp__item stamp__item--time">{% calculate_article_time main_news.1.date_sort %}</b>
                        <b class="stamp__item stamp__item--views">256</b>
                    </div>
                    <div class="stamp__right">
                        <span class="stamp__item stamp__item--reading">
                            {% calculate_reading_time main_news.1.text|cut:"&nbsp;"|striptags %}
                        </span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="bookmark bookmark--white"><span class="bookmark__text">В закладки</span></a>
        <a class="tag  tag--white" href="/content/rubric/{{ main_news.1.rubric.slug }}">{{ main_news.1.rubric }}</a>
        <div class="hashteg">
            {% for tag in main_news.1.tags.all %}
                <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
            {% endfor %}
        </div>
    </article>

    <article class="third-card third-card-news">
        <a href="{% url 'content_show_article' main_news.2.slug %}" class="third-card-news__link">
            <div class="flex-wrapper">
                <div class="third-card-news__img"
                     style="background-image: url({% thumbnail main_news.2.main_photo 293x195 crop %});">
                </div>
                <div class="third-card-news__wrapper">
                    <header class="third-card-news__header">
                        <h2 class="third-card-news__title">{{ main_news.2.title }}</h2>
                    </header>
                    <div class="stamp">
                        <div class="stamp__left">
                            <b class="stamp__item stamp__item--time stamp__item--time--grey">
                                {% calculate_article_time main_news.2.date_sort %}
                            </b>
                            <b class="stamp__item stamp__item--views stamp__item--views--grey">256</b>
                        </div>
                        <div class="stamp__right">
                            <span class="stamp__item stamp__item--reading">
                                {% calculate_reading_time main_news.2.text|cut:"&nbsp;"|striptags %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="bookmark"><span class="bookmark__text bookmark__text--dark ">В закладки</span></a>
        <a class="tag" href="/content/rubric/{{ main_news.2.rubric.slug }}">{{ main_news.2.rubric }}</a>
        <div class="hashteg">
            {% for tag in main_news.2.tags.all %}
                <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
            {% endfor %}
        </div>
    </article>

    <article class="third-card third-card-news">
        <a href="{% url 'content_show_article' main_news.3.slug %}" class="third-card-news__link">
            <div class="flex-wrapper">
                <div class="third-card-news__img"
                     style="background-image: url({% thumbnail main_news.3.main_photo 293x195 crop %});">
                </div>
                <div class="third-card-news__wrapper">
                    <header class="third-card-news__header">
                        <h2 class="third-card-news__title">{{ main_news.3.title }}</h2>
                    </header>
                    <div class="stamp">
                        <div class="stamp__left">
                            <b class="stamp__item stamp__item--time stamp__item--time--grey">
                                {% calculate_article_time main_news.3.date_sort %}
                            </b>
                            <b class="stamp__item stamp__item--views stamp__item--views--grey">256</b>
                        </div>
                        <div class="stamp__right">
                            <span class="stamp__item stamp__item--reading">
                                {% calculate_reading_time main_news.3.text|cut:"&nbsp;"|striptags %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="bookmark"><span class="bookmark__text bookmark__text--dark ">В закладки</span></a>
        <a class="tag" href="/content/rubric/{{ main_news.3.rubric.slug }}">{{ main_news.3.rubric }}</a>
        <div class="hashteg">
            {% for tag in main_news.3.tags.all %}
                <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
            {% endfor %}
        </div>
    </article>

    <article class="third-card third-card-news">
        <a href="{% url 'content_show_article' main_news.4.slug %}" class="third-card-news__link">
            <div class="flex-wrapper">
                <div class="third-card-news__img"
                     style="background-image: url({% thumbnail main_news.4.main_photo 293x195 crop %});">
                </div>
                <div class="third-card-news__wrapper">
                    <header class="third-card-news__header">
                        <h2 class="third-card-news__title">{{ main_news.4.title }}</h2>
                    </header>
                    <div class="stamp">
                        <div class="stamp__left">
                            <b class="stamp__item stamp__item--time stamp__item--time--grey">
                                {% calculate_article_time main_news.4.date_sort %}
                            </b>
                            <b class="stamp__item stamp__item--views stamp__item--views--grey">256</b>
                        </div>
                        <div class="stamp__right">
                            <span class="stamp__item stamp__item--reading">
                                {% calculate_reading_time main_news.4.text|cut:"&nbsp;"|striptags %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="bookmark"><span class="bookmark__text bookmark__text--dark ">В закладки</span></a>
        <a class="tag" href="/content/rubric/{{ main_news.4.rubric.slug }}">{{ main_news.4.rubric }}</a>
        <div class="hashteg">
            {% for tag in main_news.4.tags.all %}
                <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
            {% endfor %}
        </div>
    </article>

</section>