{% load static %}
{% load articles_tags %}

<section class="news-feed">
    {% for new in operational_news %}
        <article class="news-feed__item">
            <time class="news-feed__time"
                  datetime="{{ new.article.date_created|date:'d-m-y H:i' }}">
                {% calculate_article_time new.article.date_sort %}
            </time>
            <header class="news-feed__header">
                <a href="{% url 'content_show_article' new.article.slug %}" class="link">
                    <h2 class="news-feed__title {% if new.bold %} news-feed__title--bold {% endif %}">
                        {{ new.article.title }}
                    </h2>
                </a>
            </header>
        </article>
    {% endfor %}
    <a href="{% url 'timeline' %}" class="news-feed__more">Все новости лентой ></a>
</section>