{% load static %}
{% load thumbnail %}

<div class="rubric is-js-rubric-slider hide">
    <article class="rubric-item"
             style="background-image: linear-gradient(to right, #2c3d5a 18%, rgba(44, 61, 90, 0.3), #2c3d5a 92%),
             url('/static/img/rubric-back.jpg')">
        <div class="container">
            <div class="slick-prev"><span class="vishually-hidden">стрелка слайдера влево</span></div>
            <div class="rubric-item__wrapper">
                <div class="rubric-item__left">
                    <a class="tag tag--white" href="#">Хроника</a>
                    <header class="rubric-item__header">
                        <h2 class="rubric-item__main-title">Пенсионная реформа в России</h2>
                    </header>
                    <div class="rubric-item__text">
                        <p>Весной 2018 года Правительство объявило о старте новой пенсионной реформы в России,
                            которая начнет реализовываться уже в 2019 году . Первым этапом очередной реформы будет
                            повышение пенсионного возраста до 65/60 лет для мужчин и женщин.</p>
                    </div>
                </div>
                <div class="rubric-item__right">
                    <button class="rubric-item__toggle rubric-item__toggle--v1 button--arrow">Смотреть статьи по теме

                        <svg width="8" height="4">
                            <use xlink:href="#arrow"></use>
                        </svg>

                    </button>
                    <div class="rubric-news rubric-news--v1">
                        <span class="rubric-news__sub">Смотреть статьи</span>
                        <div class="rubric-news__item">
                            <a href="#" class="rubric-news__link">
                                <time class="rubric-news__time" datetime="2019-01-31 09:33">Сегодня, 09:33</time>
                                <h3 class="rubric-news__title">Откат или отмена? Пенсионная реформа повисла в воздухе</h3>
                            </a>
                        </div>
                        <div class="rubric-news__item">
                            <a href="#" class="rubric-news__link">
                                <time class="rubric-news__time" datetime="2019-01-31 09:33">Сегодня, 09:33</time>
                                <h3 class="rubric-news__title">Пенсионная реформа в России 2018: последниеновости и видео</h3>
                            </a>
                        </div>
                        <div class="rubric-news__news">
                            <a href="#" class="rubric-news__link">
                                <time class="rubric-news__time" datetime="2019-01-31 09:33">Сегодня, 09:33</time>
                                <h3 class="rubric-news__title">Пенсионная реформа не тянет губернаторов вниз.Снижением рейтинга «Единой России» некому воспользоваться</h3>
                            </a>
                        </div>
                        <a href="#" class="rubric-news__more">Читать всю хронику по теме »</a>
                    </div>
                </div>
            </div>
            <div class="slick-next"><span class="visually-hidden">стрелка слайдера вправо</span></div>
        </div>
    </article>

    <article class="rubric-item" style="background-image: linear-gradient(90deg, #010A3D 10%, rgba(1, 10, 61, 0.8) 20%, rgba(149, 0, 58, 0.8) 80%, rgba(149, 0, 58, 1) 100%), url('/static/img/rubric-back.jpg')">
        <div class="container">
            <div class="slick-prev"><span class="vishually-hidden">стрелка слайдера влево</span></div>
            <div class="rubric-item__wrapper">
                <div class="rubric-item__left">
                    <a class="tag tag--white" href="#">Хроника</a>
                    <header class="rubric-item__header">
                        <h2 class="rubric-item__main-title">Пенсионная реформа в России</h2>
                    </header>
                    <div class="rubric-item__text">
                        <p>Весной 2018 года Правительство объявило о старте новой пенсионной реформы в России, которая
                            начнет реализовываться уже в 2019 году . Первым этапом очередной реформы будет повышение
                            пенсионного возраста до 65/60 лет для мужчин и женщин.</p>
                    </div>
                </div>
                <div class="rubric-item__right">
                    <button class="rubric-item__toggle button--arrow">Смотреть статьи по теме
                        <svg width="8" height="4">
                            <use xlink:href="#arrow"></use>
                        </svg>
                    </button>
                    <div class="rubric-news rubric-news--v2">
                        <span class="rubric-news__sub">Смотреть статьи</span>
                        <div class="rubric-news__item">
                            <a href="#" class="rubric-news__link">
                                <time class="rubric-news__time" datetime="2019-01-31 09:33">Сегодня, 09:33</time>
                                <h3 class="rubric-news__title">Откат или отмена? Пенсионная реформа повисла в воздухе</h3>
                            </a>
                        </div>
                        <div class="rubric-news__item">
                            <a href="#" class="rubric-news__link">
                                <time class="rubric-news__time" datetime="2019-01-31 09:33">Сегодня, 09:33</time>
                                <h3 class="rubric-news__title">Пенсионная реформа в России 2018: последниеновости и видео</h3>
                            </a>
                        </div>
                        <div class="rubric-news__news">
                            <a href="#" class="rubric-news__link">
                                <time class="rubric-news__time" datetime="2019-01-31 09:33">Сегодня, 09:33</time>
                                <h3 class="rubric-news__title">Пенсионная реформа не тянет губернаторов вниз.Снижением рейтинга «Единой России» некому воспользоваться</h3>
                            </a>
                        </div>
                        <a href="#" class="rubric-news__more">Читать всю хронику по теме »</a>
                    </div>

                </div>
            </div>
            <div class="slick-next"><span class="visually-hidden">стрелка слайдера вправо</span></div>
        </div>
    </article>

    <article class="rubric-item" style="background-image:  linear-gradient(to right, #2c3d5a 18%, rgba(44, 61, 90, 0.3), #2c3d5a 92%), url('/static/img/car.jpg')">
        <div class="container">
            <div class="slick-prev"><span class="vishually-hidden">стрелка слайдера влево</span></div>
            <div class="rubric-item__wrapper">
                <div class="rubric-item__left">
                    <a class="tag tag--white" href="#">Тест-драйв</a>
                    <header class="rubric-item__header">
                        <h2 class="rubric-item__main-title">Тест-драйв Mazda CX-9:</h2>
                        <p class="rubric-item__sub-title">больше уже не куда, <br> да и не за чем?</p>
                    </header>
                    <div class="rubric-item__text">
                        <p>Весной 2018 года Правительство объявило о старте новой пенсионной реформы в России, которая
                            начнет реализовываться уже в 2019 году . Первым этапом очередной реформы будет повышение
                            пенсионного возраста до 65/60 лет для мужчин и женщин.</p>
                    </div>
                </div>
            </div>
            <div class="slick-next"><span class="visually-hidden">стрелка слайдера вправо</span></div>
        </div>
    </article>

</div>