{% load static %}
{% load thumbnail %}
{% load articles_tags %}

<div class="rubric is-js-rubric-slider hide">
    {% for rubric in chronicle_rubrics|slice:":3" %}
        {% now 'd-m-y' as today %}
        {% show_chronicle_artciles rubric as chronicle_artciles %}
        {% if chronicle_artciles %}
            <article class="rubric-item"
                     style="{% cycle 'background-image: linear-gradient(to right, #2c3d5a 18%, rgba(44, 61, 90, 0.3), #2c3d5a 92%)' 'background-image: linear-gradient(90deg, #010A3D 10%, rgba(1, 10, 61, 0.8) 20%, rgba(149, 0, 58, 0.8) 80%, rgba(149, 0, 58, 1) 100%)' %},
                     url({% thumbnail chronicle_artciles.0.main_photo 1000x535 crop %})">
                <div class="container">
                    <div class="slick-prev"><span class="vishually-hidden">стрелка слайдера влево</span></div>
                    <div class="rubric-item__wrapper">
                        <div class="rubric-item__left">
                            <a class="tag tag--white" href="#">Хроника</a>
                            <header class="rubric-item__header">
                                <h2 class="rubric-item__main-title">{{ chronicle_artciles.0.title|slice:":70" }}</h2>
                            </header>
                            <div class="rubric-item__text">
                                <p>{{ chronicle_artciles.0.text|safe|striptags|slice:":275" }}</p>
                            </div>
                        </div>
                        <div class="rubric-item__right"
                             style="{% if chronicle_artciles|length < 2 %}display:none;{% endif %}">
                            <button class="rubric-item__toggle rubric-item__toggle--v1 button--arrow">
                                Смотреть статьи по теме
                                <svg width="8" height="4">
                                    <use xlink:href="#arrow"></use>
                                </svg>
                            </button>
                            <div class="rubric-news rubric-news--v1">
                                <span class="rubric-news__sub">Смотреть статьи</span>

                                {% for article in chronicle_artciles|slice:"1:" %}
                                    <div class="rubric-news__item">
                                        <a href="{% url 'content_show_article' article.slug %}"
                                           class="rubric-news__link">
                                            <time class="rubric-news__time"
                                                  datetime="{{ article.date_created|date:'d-m-y H:i' }}">
                                                {% if today == article.date_created|date:'d-m-y' %}
                                                    Сегодня, {{ article.date_created|date:'H:i' }}
                                                {% else %}
                                                    {{ article.date_created|date:'d.m.y, H:i' }}
                                                {% endif %}
                                            </time>
                                            <h3 class="rubric-news__title">{{ article.title }}</h3>
                                        </a>
                                    </div>
                                {% endfor %}

                                <a href="#" class="rubric-news__more">Читать всю хронику по теме »</a>
                            </div>
                        </div>
                    </div>

                    <div class="slick-next"><span class="visually-hidden">стрелка слайдера вправо</span></div>
                </div>
            </article>
        {% endif %}
    {% endfor %}

    <article class="rubric-item"
             style="background-image: linear-gradient(to right, #2c3d5a 18%, rgba(44, 61, 90, 0.3), #2c3d5a 92%),
             url({% thumbnail test_drive.article.main_photo 1000x535 crop %})">
        <div class="container">
            <div class="slick-prev"><span class="vishually-hidden">стрелка слайдера влево</span></div>
            <div class="rubric-item__wrapper">
                <div class="rubric-item__left">
                    <a class="tag tag--white" href="{% url 'content_show_article' test_drive.article.slug %}">
                        Тест-драйв
                    </a>
                    <header class="rubric-item__header">
                        <h2 class="rubric-item__main-title">{{ test_drive.article.title|slice:":42" }}</h2>
                        <p class="rubric-item__sub-title">{{ test_drive.subtitle|slice:":35" }}</p>
                    </header>
                    <div class="rubric-item__text">
                        <p>{{ test_drive.article.text|safe|striptags|slice:":268" }}</p>
                    </div>
                </div>
            </div>
            <div class="slick-next"><span class="visually-hidden">стрелка слайдера вправо</span></div>
        </div>
    </article>

</div>