<h3 class="visually-hidden">Мы в социальных сетях</h3>
<ul class="social__list">
    <li class="social__item">
        <a href="//vk.com/thekirov/" class="social__link social__link--vk">
            <span class="visually-hidden">Вконтакте</span>
        </a>
    </li>
    <li class="social__item">
        <a href="//www.facebook.com/GorodKirovRU/" class="social__link social__link--fb">
            <span class="visually-hidden">Фейсбук</span>
        </a>
    </li>
    <li class="social__item">
        <a href="//ok.ru/gorodkirov/" class="social__link social__link--odnk">
            <span class="visually-hidden">Одноклассники</span>
        </a>
    </li>
    <li class="social__item">
        <a href="#" class="social__link social__link--inst">
            <span class="visually-hidden">Инстаграм</span>
        </a>
    </li>
</ul>