<div class="modal modal-enter" id="modal-enter">
		<div class="modal-enter__buttons">
			<button class="button modal-enter__button" type="button" id="enterbtn">Вход</button>
			<button class="button modal-enter__button modal-enter__button--active" type="button" id="registrbtn">
				Регистрация
			</button>
		</div>

		<form method="POST" action="{% url 'login' %}?next={{request.path}}">
		{% csrf_token %}
			<div class="login">
				<div class="modal-enter__social">
					<p>Войти через соцсети:</p>
					<div class="social">
						<ul class="social__list">
							<li class="social__item">
								<a href="//vk.com/thekirov/" class="social__link social__link--vk">
									<span class="visually-hidden">Вконтакте</span>
								</a>
							</li>
							<li class="social__item">
								<a href="//www.facebook.com/GorodKirovRU/" class="social__link social__link--fb">
									<span class="visually-hidden">Фейсбук</span>
								</a>
							</li>
							<li class="social__item">
								<a href="//ok.ru/gorodkirov/" class="social__link social__link--odnk">
									<span class="visually-hidden">Одноклассники</span>
								</a>
							</li>
							<li class="social__item">
								<a href="#" class="social__link social__link--inst">
									<span class="visually-hidden">Инстаграм</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<span>или</span>
				<div>
					<input name="username"
						   class="progect-input"
						   type="text"
						   placeholder="Введите ваш логин">
				</div>
				<div class="field-wrapper">
					<input name="password"
						   class="progect-input progect-input--password"
						   type="password"
						   placeholder="Введите ваш пароль">
					<button type="button" class="modal__password-btn">
						<span class="visually-hidden">Показать пароль</span>
					</button>
				</div>
				<div class="modal-enter__link-wrapper">
					<a href="#" data-fancybox="" data-src="#modal-password" class="modal-enter__link">Забыли пароль?</a>
				</div>
				<button class="button button--dark modal--button" type="submit">
					Войти
				</button>
			</div>
		</form>

		<form method="POST" action="{% url 'register' %}">
		{% csrf_token %}
			<div class="registration">
				<div>
					<input class="progect-input"
                           type="text"
                           placeholder="Введите ваше имя"
                           name="first_name"
                           required>
				</div>
				<div>
					<input class="progect-input"
                           type="text"
                           placeholder="Введите вашу фамилию"
                           name="last_name"
                           required>
				</div>
				<div>
					<input class="progect-input"
                           type="text"
                           placeholder="Введите ваш логин"
                           name="username"
                           required>
				</div>
				<div>
					<input class="progect-input"
                           type="email"
                           placeholder="Введите ваш email"
                           name="email"
                           required>
				</div>
				<div class="field-wrapper">
					<input class="progect-input progect-input--password"
						   type="password"
						   placeholder="Введите ваш пароль"
						   name="password1"
                           required>
					<button type="button" class="modal__password-btn">
						<span class="visually-hidden">Показать пароль</span>
					</button>
				</div>
				<div>
					<div class="g-recaptcha" data-sitekey="6LdUEZQUAAAAAB3njdPhMuvBONRL6G9UD03xPbpe"></div>
				</div>

				<div class="modal__align-left">
					<input class="progect-check" type="checkbox" id="check1" required="">
					<label class="checkbox-label" for="check1">
						Нажимая на кнопку ЗАРЕГИСТРИРОВАТЬСЯ, я даю
						<a href="#" class="form__link">согласие на обработку персональных данных</a>
					</label>
				</div>
				<button class="button button--dark modal--button">Зарегистрироваться</button>
			</div>
		</form>
    </div>


<!--    <div class="modal modal-enter" id="modal-enter">-->
<!--		<form action="#">-->
<!--		    <div class="modal-enter__buttons">-->
<!--			    <button class="button modal-enter__button" type="button" id="enterbtn">Вход</button>-->
<!--			    <button class="button modal-enter__button modal-enter__button&#45;&#45;active" type="button" id="registrbtn">Регистрация</button>-->
<!--		    </div>-->
<!--		    <div class="login">-->
<!--			    <div class="modal-enter__social">-->
<!--				    <p>Войти через соцсети:</p>-->
<!--				    <div class="social">-->
<!--					    <ul class="social__list">-->
<!--						    <li class="social__item">-->
<!--							    <a href="//vk.com/thekirov/" class="social__link social__link&#45;&#45;vk">-->
<!--							  	    <span class="visually-hidden">Вконтакте</span>-->
<!--							    </a>-->
<!--						    </li>-->
<!--						    <li class="social__item">-->
<!--							    <a href="//www.facebook.com/GorodKirovRU/" class="social__link social__link&#45;&#45;fb">-->
<!--								    <span class="visually-hidden">Фейсбук</span>-->
<!--							    </a>-->
<!--						    </li>-->
<!--						    <li class="social__item">-->
<!--							    <a href="//ok.ru/gorodkirov/" class="social__link social__link&#45;&#45;odnk">-->
<!--								    <span class="visually-hidden">Одноклассники</span>-->
<!--							    </a>-->
<!--						    </li>-->
<!--						    <li class="social__item">-->
<!--							    <a href="#" class="social__link social__link&#45;&#45;inst">-->
<!--								    <span class="visually-hidden">Инстаграм</span>-->
<!--							    </a>-->
<!--						    </li>-->
<!--					    </ul>-->
<!--				    </div>-->
<!--			    </div>-->
<!--			    <span>или</span>-->
<!--			    <div>-->
<!--				    <input class="progect-input" type="text" placeholder="Введите ваш логин">-->
<!--			    </div>-->
<!--			    <div class="field-wrapper">-->
<!--				    <input class="progect-input progect-input&#45;&#45;password" type="password" placeholder="Введите ваш пароль">-->
<!--				    <button type="button" class="modal__password-btn"><span class="visually-hidden">Показать пароль</span></button>-->
<!--			    </div>-->
<!--			    <div class="modal-enter__link-wrapper">-->
<!--				    <a href="#" data-fancybox="" data-src="#modal-password" class="modal-enter__link">Забыли пароль?</a>-->
<!--			    </div>-->
<!--		    </div>-->
<!--		    <div class="registration">-->
<!--			    <span class="modal__title">Поздравляем!</span>-->
<!--			    <p>Ваши регистрационные данные успешно сохранены, но ваш электронной адрес не подтвержден.Чтобы его подтвердить, вам было отправлено письмо с кодом подтверждения регистрации. Если письмо не пришло в течение 30 минут, проверьте папку «СПАМ» или обратитесь в техническую поддержку.</p>-->
<!--		    </div>-->
<!--		</form>-->
<!--    </div>-->


<!--    <div class="modal modal-enter" id="modal-enter">-->
<!--		<form action="#">-->
<!--		    <div class="modal-enter__buttons">-->
<!--				<button class="button modal-enter__button" type="button" id="enterbtn">Вход</button>-->
<!--				<button class="button modal-enter__button modal-enter__button&#45;&#45;active" type="button" id="registrbtn">Регистрация</button>-->
<!--		    </div>-->
<!--		    <div class="login">-->
<!--				<div class="modal-enter__social">-->
<!--				     <p>Войти через соцсети:</p>-->
<!--				     <div class="social">-->
<!--						 <ul class="social__list">-->
<!--						     <li class="social__item">-->
<!--								 <a href="//vk.com/thekirov/" class="social__link social__link&#45;&#45;vk">-->
<!--									  <span class="visually-hidden">Вконтакте</span>-->
<!--								 </a>-->
<!--							 </li>-->
<!--							 <li class="social__item">-->
<!--								 <a href="//www.facebook.com/GorodKirovRU/" class="social__link social__link&#45;&#45;fb">-->
<!--									  <span class="visually-hidden">Фейсбук</span>-->
<!--								 </a>-->
<!--							 </li>-->
<!--							 <li class="social__item">-->
<!--								  <a href="//ok.ru/gorodkirov/" class="social__link social__link&#45;&#45;odnk">-->
<!--									  <span class="visually-hidden">Одноклассники</span>-->
<!--								  </a>-->
<!--							 </li>-->
<!--							 <li class="social__item">-->
<!--								  <a href="#" class="social__link social__link&#45;&#45;inst">-->
<!--									  <span class="visually-hidden">Инстаграм</span>-->
<!--								  </a>-->
<!--							 </li>-->
<!--						 </ul>-->
<!--				     </div>-->
<!--				</div>-->
<!--				<span>или</span>-->
<!--				<div>-->
<!--				    <input class="progect-input" type="text" placeholder="Введите ваш логин">-->
<!--				</div>-->
<!--				<div class="field-wrapper">-->
<!--				    <input class="progect-input progect-input&#45;&#45;password" type="password" placeholder="Введите ваш пароль">-->
<!--				    <button type="button" class="modal__password-btn"><span class="visually-hidden">Показать пароль</span></button>-->
<!--				</div>-->
<!--				<div class="modal-enter__link-wrapper">-->
<!--				    <a href="#" data-fancybox="" data-src="#modal-password" class="modal-enter__link">Забыли пароль?</a>-->
<!--				</div>-->
<!--		    </div>-->
<!--		    <div class="registration">-->
<!--		    	<b>Мы рады приветствовать Вас на нашем портале ГородКиров.ру.Ваш личный кабинет подтвержден.</b>-->
<!--		    </div>-->
<!--		</form>-->
<!--    </div>-->


	<div class="modal modal-forget-password" id="modal-password">
        <form action="#">
			<h2 class="modal__title">Восстановление пароля</h2>
			<div class="modal-forget-password__wrapper">
			    <input class="progect-input" type="text" placeholder="Введите email, указанный при регистрации">
			    <div>
					<div class="g-recaptcha" data-sitekey="6LdUEZQUAAAAAB3njdPhMuvBONRL6G9UD03xPbpe"></div>
			    </div>
			</div>
			<button class="button button--dark modal--button">Восстановить пароль</button>
        </form>
    </div>