<div class="container" id="modal-search">
    <div class="search-block__content">
        <div class="search-block__wrapper">
            <input type="search" class="search-block__input">
            <button class="search-block__button"><span class="visually-hidden">Найти</span></button>
        </div>
        <ul class="search-block__list">
            <li class="search-block__item">
                <a class="tag tag--white" href="#">Проишествия</a>
                <a href="#">
                    <p class="search-block__text">
                        Трое участников «Артподготовки» получили тюремные сроки по делу о подготовке теракта
                    </p>
                </a>
                <time class="search-block__time" datetime="2019-01-31 09:33">3 часа назад</time>
            </li>
            <li class="search-block__item">
                <a class="tag tag--white" href="#">Проишествия</a>
                <a href="#">
                    <p class="search-block__text">Трое участников «Артподготовки» получили тюремные сроки по делу о подготовке теракта</p>
                </a>
                <time class="search-block__time" datetime="2019-01-31 09:33">3 часа назад</time>
            </li>
            <li class="search-block__item">
                <a class="tag tag--white" href="#">Проишествия</a>
                <a href="#">
                    <p class="search-block__text">Трое участников «Артподготовки» получили тюремные сроки по делу о подготовке теракта</p>
                </a>
                <time class="search-block__time" datetime="2019-01-31 09:33">3 часа назад</time>
            </li>
            <li class="search-block__item search-block__item--time">
                <time class="search-block__main-time" datetime="2019-01-31 09:33">21 января, понедельник</time>
            </li>
            <li class="search-block__item">
                <a class="tag tag--white" href="#">Проишествия</a>
                <a href="#">
                    <p class="search-block__text">Трое участников «Артподготовки» получили тюремные сроки по делу о подготовке теракта</p>
                </a>
                <time class="search-block__time" datetime="2019-01-31 09:33">3 часа назад</time>
            </li>
            <li class="search-block__item">
                <a class="tag tag--white" href="#">Проишествия</a>
                <a href="#">
                    <p class="search-block__text">Трое участников «Артподготовки» получили тюремные сроки по делу о подготовке теракта</p>
                </a>
                <time class="search-block__time" datetime="2019-01-31 09:33">3 часа назад</time>
            </li>
            <li class="search-block__item">
                <a class="tag tag--white" href="#">Проишествия</a>
                <a href="#">
                    <p class="search-block__text">Трое участников «Артподготовки» получили тюремные сроки по делу о подготовке теракта</p>
                </a>
                <time class="search-block__time" datetime="2019-01-31 09:33">3 часа назад</time>
            </li>
        </ul>
    </div>
</div>