{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% now 'd-m-y' as today %}

{% block toplinks %}
	<link rel="stylesheet" href="{% static 'scripts/fancybox/jquery.fancybox.min.css' %}">
	<link rel="stylesheet" href="{% static 'scripts/emoji/dist/emojionearea.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
	<script src="https://vk.com/js/api/openapi.js?160"></script>
{% endblock %}

{% block main %}
	<main class="inner-main">
		{% block top-container %}{{ block.super }}{% endblock %}

		<div class="top-panel">
			<div class="container">
				<div class="breadcrumbs">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Главная</a></li>
						<li class="breadcrumbs__item"><a class="breadcrumbs__link">{{ article.title }}</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="main-content-wrapper">
			<div class="main-greed">
				<div class="container">
					<div class="main-greed__left-column mrg-right pdg-20 bg-white pdg-bottom-20">
						<article class="article-block">
							<header class="article-header">
								<div class="article-header__wrapper">
									<a href="/content/rubric/{{ article.rubric.slug }}" class="article-header__rubric">
										{{ article.rubric }}
									</a>
                                    <time class="article-header__time"
                                          datetime="{{ article.date_created|date:'d-m-y H:i' }}">
                                        {% if today == article.date_created|date:'d-m-y' %}
                                            Сегодня, {{ article.date_created|date:'H:i' }}
                                        {% else %}
                                            {{ article.date_created|date:'d M Y, H:i'|lower }}
                                        {% endif %}
                                    </time>
									<a href="#" class="article-header__bookmarks">Добавить в закладки</a>
								</div>
								<h1 class="title">{{ article.title }}</h1>
								<div class="hashteg hashteg--in-page">
									{% for tag in article.tags.all %}
                                        <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
                                    {% endfor %}
								</div>
							</header>
							<div class="article-block__image-wrapper">
								<img src="{% thumbnail article.teaser2 877x401 crop %}" alt="{{ article.title }}">
							</div>
							<div class="article-block__author author">
								<div class="author__image-wrapper">
									<img src="{% thumbnail article.author.photo 53x53 crop %}" alt="Фотография автора">
								</div>
								<span class="author__name"><b>Автор:</b> {{ article.author.name }}</span>
							</div>


							<div class="article-block__text text-block">
								{{ article.text|safe }}
							</div>

							<div class="line-v1">
								<a href="#" class="line-v1__link">
									<span class="line-v1__text line-v1__text--inst">
										Читайте новости «Город Киров» в Instagram
									</span>
								</a>
							</div>

							{% include 'articles/includes/article_footer.html' %}
						</article>

						<div class="vk-widget">
							<div id="vk_groups-1"></div>
							<script type="text/javascript">
								VK.Widgets.Group("vk_groups-1", {
									mode: 3,
									width: "auto"
								}, 59750825);
							</script>
						</div>

						<section class="comments">
							<h2 class="comments__title">Комментарии:</h2>
							<article class="comment">
								<h3 class="visually-hidden">Комментарий</h3>
								<div class="comment__wrapper">
									<div class="comment__image-wrapper">
										<img src="{% static 'img/user-1.jpg' %}" alt="Аватар пользователя">
									</div>
									<div class="comment__inner-wrapper">
										<b class="comment__username">Валентина Иванова</b>
										<time class="comment__date" datetime="18:12">Сегодня 18:12</time>
									</div>
								</div>
								<div class="comment__text">
									<p>
										Как же здорово, что такие люди попадают во власть, за ее деятельностью приятно
										следить. Конечно вполне может быть, что постепенно вокруг нее начнут плодится
										слухи, аккуратно раздуваемые теми, кому не хочется ее видеть на этом месте
									</p>
								</div>
								<time class="comment__date comment__date--mobile-only" datetime="18:12">Сегодня 18:12</time>
								<div class="comment__inner-wrapper-bottom">
									<a href="#" class="comment__link comment__link--answer">Ответить</a>
									<a href="#" class="comment__link">Цитировать</a>
									<a href="#" data-fancybox="" data-src="#modal-complaint" class="comment__link">Пожаловаться</a>
								</div>
							</article>
							<article class="comment comment--to">
								<h3 class="visually-hidden">Комментарий</h3>
								<div class="comment__wrapper">
									<div class="comment__image-wrapper">
										<img src="{% static 'img/user-2.jpg' %}" alt="Аватар пользователя">
									</div>
									<div class="comment__inner-wrapper">
										<b class="comment__username">Светлана Перминова</b>
										<b class="comment__username comment__username--to">Валентина Иванова</b>
										<time class="comment__date" datetime="18:12">Сегодня 18:12</time>
									</div>
								</div>
								<div class="comment__text">
									<p>
										Ну из этой статьи следует ,что она не такой уж народный кандидат,
										а просто проект. Надеюсь ее бодрое начало будет иметь такое же продолжение.
										Хотя вот уже в Едро вступила..
									</p>
								</div>
								<time class="comment__date comment__date--mobile-only" datetime="18:12">Сегодня 18:12</time>
								<div class="comment__inner-wrapper-bottom">
									<a href="#" class="comment__link comment__link--answer">Ответить</a>
									<a href="#" class="comment__link">Цитировать</a>
									<a href="#" data-fancybox="" data-src="#modal-complaint" class="comment__link">Пожаловаться</a>
								</div>
							</article>
							<article class="comment">
								<h3 class="visually-hidden">Комментарий</h3>
								<div class="comment__wrapper">
									<div class="comment__image-wrapper">
										<img src="{% static 'img/user-3.jpg' %}" alt="Аватар пользователя">
									</div>
									<div class="comment__inner-wrapper">
										<b class="comment__username">Николай 134</b>
										<time class="comment__date" datetime="18:12">Сегодня 18:12</time>
									</div>
								</div>
								<div class="comment__text">
									<p>
										Правильно, побольше woman empowerment. После увольнения Колпакова и
										Красильщика их здесь не хватает.
									</p>
								</div>
								<time class="comment__date comment__date--mobile-only" datetime="18:12">Сегодня 18:12</time>
								<div class="comment__inner-wrapper-bottom">
									<a href="#" class="comment__link comment__link--answer">Ответить</a>
									<a href="#" class="comment__link">Цитировать</a>
									<a href="#" data-fancybox="" data-src="#modal-complaint" class="comment__link">Пожаловаться</a>
								</div>
							</article>
						</section>
						<article class="add-comment mrg-bottom-20">
							<h2 class="add-comment__title">Оставить комментарий</h2>
							<form action="">
								<div class="add-comment__textarea-wrapper">
									<textarea class="progect-textarea progect-textarea--add-comment add-smile" placeholder="Напишите ваш текст"></textarea>
								</div>
								<div class="add-comment__wrapper">
									<!--                  <span class="add-comment__text">Авторизуйтесь, чтобы отправлять коментарии</span>-->
									<div class="file-wrapper file-wrapper--comment">
										<div class="photos"></div>
										<input class="file-input" data-photo="single" type="file" id="photo">
										<label class="file-label" for="photo"><span class="file-image file-image--min"></span></label>
									</div>
									<button class="button button--dark" type="submit">Отправить</button>
								</div>
							</form>
						</article>
						<article class="alert pdg-20 bg-white mrg-bottom-20">
							<span class="alert__text">Чтобы оставить комментарий, войдите через любую соцсеть:</span>
							<div class="social alert__social">
								<h3 class="visually-hidden">Мы в социальных сетях</h3>
								<ul class="social__list">
									<li class="social__item"><a href="#" class="social__link social__link--vk"><span class="visually-hidden">Вконтакте</span></a></li>
									<li class="social__item"><a href="#" class="social__link social__link--fb"><span class="visually-hidden">Фейсбук</span></a></li>
									<li class="social__item"><a href="#" class="social__link social__link--odnk"><span class="visually-hidden">Одноклассники</span></a></li>
									<li class="social__item"><a href="#" class="social__link social__link--inst"><span class="visually-hidden">Инстаграм</span></a></li>
								</ul>
							</div>
						</article>

						{% include 'articles/includes/more_articles.html' with more_articles=more_articles %}
					</div>

					<div class="main-greed__right-column">
						<div class="bunner-side mrg-bottom">
							<a href="#" class="bunner-side__link">
								<img src="{% static 'img/banner10.jpg' %}" alt="Реклама на сайте">
							</a>
						</div>

						{% include 'articles/includes/more_like.html' with more_articles=more_articles %}
					</div>
				</div>
			</div>

			<div class="main-greed">
				<div class="container">
					<div class="main-greed__left-column mrg-right pdg-20 bg-white pdg-bottom-20">
						<article class="article-block">
							<header class="article-header">
								<div class="article-header__wrapper">
									<a href="#" class="article-header__rubric">{{ article.rubric }}</a>
                                    <time class="article-header__time"
                                          datetime="{{ article.date_created|date:'d-m-y H:i' }}">
                                        {% if today == article.date_created|date:'d-m-y' %}
                                            Сегодня, {{ article.date_created|date:'H:i' }}
                                        {% else %}
                                            {{ article.date_created|date:'d M Y, H:i'|lower }}
                                        {% endif %}
                                    </time>
									<a href="#" class="article-header__bookmarks">Добавить в закладки</a>
								</div>
								<h1 class="title">{{ article.title }}</h1>
								<div class="hashteg hashteg--in-page">
									{% for tag in article.tags.all %}
                                        <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
                                    {% endfor %}
								</div>
							</header>
							<div class="article-block__image-wrapper">
								<img src="{% thumbnail article.teaser2 877x401 crop %}" alt="{{ article.title }}">
							</div>
							<div class="article-block__author author">
								<div class="author__image-wrapper">
									<img src="{% thumbnail article.author.photo 53x53 crop %}" alt="Фотография автора">
								</div>
								<span class="author__name"><b>Автор:</b> {{ article.author.name }}</span>
							</div>


							<div class="article-block__text text-block">
								{{ article.text|safe }}
							</div>

							<div class="line-v1">
								<a href="#" class="line-v1__link">
									<span class="line-v1__text line-v1__text--inst">
										Читайте новости «Город Киров» в Instagram
									</span>
								</a>
							</div>

							{% include 'articles/includes/article_footer.html' %}
						</article>

						<div class="vk-widget">
							<div id="vk_groups-2"></div>
							<script type="text/javascript">
								VK.Widgets.Group("vk_groups-2", {
									mode: 3,
									width: "auto"
								}, 59750825);
							</script>
						</div>

						<section class="comments">
							<h2 class="comments__title">Комментарии:</h2>
							<article class="comment">
								<h3 class="visually-hidden">Комментарий</h3>
								<div class="comment__wrapper">
									<div class="comment__image-wrapper">
										<img src="{% static 'img/user-1.jpg' %}" alt="Аватар пользователя">
									</div>
									<div class="comment__inner-wrapper">
										<b class="comment__username">Валентина Иванова</b>
										<time class="comment__date" datetime="18:12">Сегодня 18:12</time>
									</div>
								</div>
								<div class="comment__text">
									<p>
										Как же здорово, что такие люди попадают во власть, за ее деятельностью приятно
										следить. Конечно вполне может быть, что постепенно вокруг нее начнут плодится
										слухи, аккуратно раздуваемые теми, кому не хочется ее видеть на этом месте
									</p>
								</div>
								<time class="comment__date comment__date--mobile-only" datetime="18:12">Сегодня 18:12</time>
								<div class="comment__inner-wrapper-bottom">
									<a href="#" class="comment__link comment__link--answer">Ответить</a>
									<a href="#" class="comment__link">Цитировать</a>
									<a href="#" data-fancybox="" data-src="#modal-complaint" class="comment__link">Пожаловаться</a>
								</div>
							</article>
							<article class="comment comment--to">
								<h3 class="visually-hidden">Комментарий</h3>
								<div class="comment__wrapper">
									<div class="comment__image-wrapper">
										<img src="{% static 'img/user-2.jpg' %}" alt="Аватар пользователя">
									</div>
									<div class="comment__inner-wrapper">
										<b class="comment__username">Светлана Перминова</b>
										<b class="comment__username comment__username--to">Валентина Иванова</b>
										<time class="comment__date" datetime="18:12">Сегодня 18:12</time>
									</div>
								</div>
								<div class="comment__text">
									<p>
										Ну из этой статьи следует ,что она не такой уж народный кандидат,
										а просто проект. Надеюсь ее бодрое начало будет иметь такое же продолжение.
										Хотя вот уже в Едро вступила..
									</p>
								</div>
								<time class="comment__date comment__date--mobile-only" datetime="18:12">Сегодня 18:12</time>
								<div class="comment__inner-wrapper-bottom">
									<a href="#" class="comment__link comment__link--answer">Ответить</a>
									<a href="#" class="comment__link">Цитировать</a>
									<a href="#" data-fancybox="" data-src="#modal-complaint" class="comment__link">Пожаловаться</a>
								</div>
							</article>
							<article class="comment">
								<h3 class="visually-hidden">Комментарий</h3>
								<div class="comment__wrapper">
									<div class="comment__image-wrapper">
										<img src="{% static 'img/user-3.jpg' %}" alt="Аватар пользователя">
									</div>
									<div class="comment__inner-wrapper">
										<b class="comment__username">Николай 134</b>
										<time class="comment__date" datetime="18:12">Сегодня 18:12</time>
									</div>
								</div>
								<div class="comment__text">
									<p>
										Правильно, побольше woman empowerment. После увольнения Колпакова и
										Красильщика их здесь не хватает.
									</p>
								</div>
								<time class="comment__date comment__date--mobile-only" datetime="18:12">Сегодня 18:12</time>
								<div class="comment__inner-wrapper-bottom">
									<a href="#" class="comment__link comment__link--answer">Ответить</a>
									<a href="#" class="comment__link">Цитировать</a>
									<a href="#" data-fancybox="" data-src="#modal-complaint" class="comment__link">Пожаловаться</a>
								</div>
							</article>
						</section>
						<article class="add-comment mrg-bottom-20">
							<h2 class="add-comment__title">Оставить комментарий</h2>
							<form action="">
								<div class="add-comment__textarea-wrapper">
									<textarea class="progect-textarea progect-textarea--add-comment add-smile" placeholder="Напишите ваш текст"></textarea>
								</div>
								<div class="add-comment__wrapper">
									<!--                  <span class="add-comment__text">Авторизуйтесь, чтобы отправлять коментарии</span>-->
									<div class="file-wrapper file-wrapper--comment">
										<div class="photos"></div>
										<input class="file-input" data-photo="single" type="file" id="photo">
										<label class="file-label" for="photo"><span class="file-image file-image--min"></span></label>
									</div>
									<button class="button button--dark" type="submit">Отправить</button>
								</div>
							</form>
						</article>
						<article class="alert pdg-20 bg-white mrg-bottom-20">
							<span class="alert__text">Чтобы оставить комментарий, войдите через любую соцсеть:</span>
							<div class="social alert__social">
								<h3 class="visually-hidden">Мы в социальных сетях</h3>
								<ul class="social__list">
									<li class="social__item"><a href="#" class="social__link social__link--vk"><span class="visually-hidden">Вконтакте</span></a></li>
									<li class="social__item"><a href="#" class="social__link social__link--fb"><span class="visually-hidden">Фейсбук</span></a></li>
									<li class="social__item"><a href="#" class="social__link social__link--odnk"><span class="visually-hidden">Одноклассники</span></a></li>
									<li class="social__item"><a href="#" class="social__link social__link--inst"><span class="visually-hidden">Инстаграм</span></a></li>
								</ul>
							</div>
						</article>

						{% include 'articles/includes/more_articles.html' with more_articles=more_articles %}
					</div>

					<div class="main-greed__right-column">
						<div class="bunner-side mrg-bottom">
							<a href="#" class="bunner-side__link">
								<img src="{% static 'img/banner10.jpg' %}" alt="Реклама на сайте">
							</a>
						</div>

						{% include 'articles/includes/more_like.html' with more_articles=more_articles %}
					</div>
				</div>
			</div>

			<div class="main-greed">
				<div class="container">
					<div class="main-greed__left-column mrg-right pdg-20 bg-white pdg-bottom-20">
						<article class="article-block">
							<header class="article-header">
								<div class="article-header__wrapper">
									<a href="#" class="article-header__rubric">{{ article.rubric }}</a>
                                    <time class="article-header__time"
                                          datetime="{{ article.date_created|date:'d-m-y H:i' }}">
                                        {% if today == article.date_created|date:'d-m-y' %}
                                            Сегодня, {{ article.date_created|date:'H:i' }}
                                        {% else %}
                                            {{ article.date_created|date:'d M Y, H:i'|lower }}
                                        {% endif %}
                                    </time>
									<a href="#" class="article-header__bookmarks">Добавить в закладки</a>
								</div>
								<h1 class="title">{{ article.title }}</h1>
								<div class="hashteg hashteg--in-page">
									{% for tag in article.tags.all %}
                                        <a href="/tags/?t={{tag.text}}" class="hashteg__item">#{{ tag }}</a>
                                    {% endfor %}
								</div>
							</header>
							<div class="article-block__image-wrapper">
								<img src="{% thumbnail article.teaser2 877x401 crop %}" alt="{{ article.title }}">
							</div>
							<div class="article-block__author author">
								<div class="author__image-wrapper">
									<img src="{% thumbnail article.author.photo 53x53 crop %}" alt="Фотография автора">
								</div>
								<span class="author__name"><b>Автор:</b> {{ article.author.name }}</span>
							</div>


							<div class="article-block__text text-block">
								{{ article.text|safe }}
							</div>

							<div class="line-v1">
								<a href="#" class="line-v1__link">
									<span class="line-v1__text line-v1__text--inst">
										Читайте новости «Город Киров» в Instagram
									</span>
								</a>
							</div>

							{% include 'articles/includes/article_footer.html' %}
						</article>

						<div class="vk-widget">
							<div id="vk_groups-3"></div>
							<script type="text/javascript">
								VK.Widgets.Group("vk_groups-3", {
									mode: 3,
									width: "auto"
								}, 59750825);
							</script>
						</div>

						<section class="comments">
							<h2 class="comments__title">Комментарии:</h2>
							<article class="comment">
								<h3 class="visually-hidden">Комментарий</h3>
								<div class="comment__wrapper">
									<div class="comment__image-wrapper">
										<img src="{% static 'img/user-1.jpg' %}" alt="Аватар пользователя">
									</div>
									<div class="comment__inner-wrapper">
										<b class="comment__username">Валентина Иванова</b>
										<time class="comment__date" datetime="18:12">Сегодня 18:12</time>
									</div>
								</div>
								<div class="comment__text">
									<p>
										Как же здорово, что такие люди попадают во власть, за ее деятельностью приятно
										следить. Конечно вполне может быть, что постепенно вокруг нее начнут плодится
										слухи, аккуратно раздуваемые теми, кому не хочется ее видеть на этом месте
									</p>
								</div>
								<time class="comment__date comment__date--mobile-only" datetime="18:12">Сегодня 18:12</time>
								<div class="comment__inner-wrapper-bottom">
									<a href="#" class="comment__link comment__link--answer">Ответить</a>
									<a href="#" class="comment__link">Цитировать</a>
									<a href="#" data-fancybox="" data-src="#modal-complaint" class="comment__link">Пожаловаться</a>
								</div>
							</article>
							<article class="comment comment--to">
								<h3 class="visually-hidden">Комментарий</h3>
								<div class="comment__wrapper">
									<div class="comment__image-wrapper">
										<img src="{% static 'img/user-2.jpg' %}" alt="Аватар пользователя">
									</div>
									<div class="comment__inner-wrapper">
										<b class="comment__username">Светлана Перминова</b>
										<b class="comment__username comment__username--to">Валентина Иванова</b>
										<time class="comment__date" datetime="18:12">Сегодня 18:12</time>
									</div>
								</div>
								<div class="comment__text">
									<p>
										Ну из этой статьи следует ,что она не такой уж народный кандидат,
										а просто проект. Надеюсь ее бодрое начало будет иметь такое же продолжение.
										Хотя вот уже в Едро вступила..
									</p>
								</div>
								<time class="comment__date comment__date--mobile-only" datetime="18:12">Сегодня 18:12</time>
								<div class="comment__inner-wrapper-bottom">
									<a href="#" class="comment__link comment__link--answer">Ответить</a>
									<a href="#" class="comment__link">Цитировать</a>
									<a href="#" data-fancybox="" data-src="#modal-complaint" class="comment__link">Пожаловаться</a>
								</div>
							</article>
							<article class="comment">
								<h3 class="visually-hidden">Комментарий</h3>
								<div class="comment__wrapper">
									<div class="comment__image-wrapper">
										<img src="{% static 'img/user-3.jpg' %}" alt="Аватар пользователя">
									</div>
									<div class="comment__inner-wrapper">
										<b class="comment__username">Николай 134</b>
										<time class="comment__date" datetime="18:12">Сегодня 18:12</time>
									</div>
								</div>
								<div class="comment__text">
									<p>
										Правильно, побольше woman empowerment. После увольнения Колпакова и
										Красильщика их здесь не хватает.
									</p>
								</div>
								<time class="comment__date comment__date--mobile-only" datetime="18:12">Сегодня 18:12</time>
								<div class="comment__inner-wrapper-bottom">
									<a href="#" class="comment__link comment__link--answer">Ответить</a>
									<a href="#" class="comment__link">Цитировать</a>
									<a href="#" data-fancybox="" data-src="#modal-complaint" class="comment__link">Пожаловаться</a>
								</div>
							</article>
						</section>
						<article class="add-comment mrg-bottom-20">
							<h2 class="add-comment__title">Оставить комментарий</h2>
							<form action="">
								<div class="add-comment__textarea-wrapper">
									<textarea class="progect-textarea progect-textarea--add-comment add-smile" placeholder="Напишите ваш текст"></textarea>
								</div>
								<div class="add-comment__wrapper">
									<!--                  <span class="add-comment__text">Авторизуйтесь, чтобы отправлять коментарии</span>-->
									<div class="file-wrapper file-wrapper--comment">
										<div class="photos"></div>
										<input class="file-input" data-photo="single" type="file" id="photo">
										<label class="file-label" for="photo"><span class="file-image file-image--min"></span></label>
									</div>
									<button class="button button--dark" type="submit">Отправить</button>
								</div>
							</form>
						</article>
						<article class="alert pdg-20 bg-white mrg-bottom-20">
							<span class="alert__text">Чтобы оставить комментарий, войдите через любую соцсеть:</span>
							<div class="social alert__social">
								<h3 class="visually-hidden">Мы в социальных сетях</h3>
								<ul class="social__list">
									<li class="social__item"><a href="#" class="social__link social__link--vk"><span class="visually-hidden">Вконтакте</span></a></li>
									<li class="social__item"><a href="#" class="social__link social__link--fb"><span class="visually-hidden">Фейсбук</span></a></li>
									<li class="social__item"><a href="#" class="social__link social__link--odnk"><span class="visually-hidden">Одноклассники</span></a></li>
									<li class="social__item"><a href="#" class="social__link social__link--inst"><span class="visually-hidden">Инстаграм</span></a></li>
								</ul>
							</div>
						</article>

						{% include 'articles/includes/more_articles.html' with more_articles=more_articles %}
					</div>

					<div class="main-greed__right-column">
						<div class="bunner-side mrg-bottom">
							<a href="#" class="bunner-side__link">
								<img src="{% static 'img/banner10.jpg' %}" alt="Реклама на сайте">
							</a>
						</div>

						{% include 'articles/includes/more_like.html' with more_articles=more_articles %}
					</div>
				</div>
			</div>
		</div>

	</main>

{% endblock %}

{% block bottomlinks %}
	<script src="{% static 'scripts/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'scripts/headhesive/headhesive.min.js' %}"></script>
	<script src="{% static 'scripts/fancybox/jquery.fancybox.min.js' %}"></script>
	<script src="{% static 'scripts/emoji/dist/emojionearea.min.js' %}"></script>
	<script src="{% static 'scripts/main-header.js' %}"></script>
	<script src="{% static 'scripts/script.js' %}"></script>
	<script src="{% static 'scripts/upload.js' %}"></script>
	<script src="{% static 'scripts/stack/stack.js' %}"></script>
{% endblock %}