{% extends "base.html" %}
{% load static %}
{# load endless #}
{% load articles_tags %}
{% load thumbnail %}

{% block toplinks %}
    <link rel="stylesheet" href="{% static 'scripts/slick/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'scripts/slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'scripts/fancybox/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'scripts/datarangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
{% endblock %}

{% block main %}
	<main class="inner-main">
        {% block top-container %}{{ block.super }}{% endblock %}

		<div class="top-panel">
			<div class="container">
				<div class="breadcrumbs">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Главная</a></li>
						<li class="breadcrumbs__item"><a class="breadcrumbs__link">{{ label }}</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="main-greed">
			<div class="container">
				<div class="main-greed__left-column mrg-right">
					<div class="sort mrg-btm-8">

						{% if label.id %}
							<div class="hashteg">
								{% show_popular_tags label.id as popular_tags %}
								{% for tag in popular_tags %}
									<a href="/tags/?t={{ tag }}" class="hashteg__item">#{{ tag }}</a>
								{% endfor %}
							</div>
						{% endif %}

						<h2 class="sort__title">{{ label }}</h2>

						<div class="sort__wrapper">
							<button type="button" class="sort__button sort__button--red">Свежее</button>
							<button type="button" class="sort__button sort__button--weight" id="datefilter">
								Популярное
							</button>
							<button type="button" class="sort__button">Выбор редакции</button>
						</div>
					</div>

                    {% include 'articles/includes/article_card.html' with articles=articles|slice:":4" %}

					<div class="banner">
						<a href="#" class="banner__link">
							<picture>
								<source media="(max-width: 767px)" srcset="http://placehold.it/320x120">
								<source media="(max-width: 1024px)" srcset="http://placehold.it/728x100">
								<img src="{% static 'img/banner5.jpg' %}" alt="Реклама">
							</picture>
						</a>
					</div>

					{% include 'articles/includes/article_card.html' with articles=articles|slice:"4:8" %}

					<div class="news__flex-row">

						{% include 'includes/big_block.html' with big_block=big_block_1 %}
                        {% include 'includes/big_block.html' with big_block=big_block_2 %}

					</div>

					{% include 'articles/includes/article_card.html' with articles=articles|slice:"8:10" %}

					{# Слайдер #}
    				{% include 'includes/slider_news.html' %}

					{% include 'articles/includes/article_card.html' with articles=articles|slice:"10:12" %}

					<div class="banner">
						<a href="#" class="banner__link">
							<picture>
								<source media="(max-width: 767px)" srcset="http://placehold.it/320x120">
								<source media="(max-width: 1024px)" srcset="http://placehold.it/728x100">
								<img src="{% static 'img/banner3.jpg' %}" alt="Реклама">
							</picture>
						</a>
					</div>

                    {% include 'articles/includes/article_card.html' with articles=articles|slice:"12:16" %}

                    <div class="banner">
						<a href="#" class="banner__link">
							<picture>
								<source media="(max-width: 767px)" srcset="http://placehold.it/320x120">
								<source media="(max-width: 1024px)" srcset="http://placehold.it/728x100">
								<img src="{% static 'img/banner5.jpg' %}" alt="Реклама">
							</picture>
						</a>
					</div>

                    {% include 'articles/includes/article_card.html' with articles=articles|slice:"16:20" %}

                    <div class="news__flex-row">
						{% include 'includes/big_block.html' with big_block=big_block_3 %}
                        <div class="half-card half-card--inner video-file">
                            {% include 'includes/video_file.html' with height='280px' %}
                        </div>
					</div>

				</div>

				<div class="main-greed__right-column pdg-btm-8">
					<div class="bunner-side fixed-block">
						<a href="#" class="bunner-side__link">
							<img src="{% static 'img/banner10.jpg' %}" alt="Реклама на сайте">
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

{% block bottomlinks %}
    <script src="{% static 'scripts/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'scripts/momentjs/moment.min.js' %}"></script>
	<script src="{% static 'scripts/datarangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'scripts/slick/slick.min.js' %}"></script>
    <script src="{% static 'scripts/headhesive/headhesive.min.js' %}"></script>
    <script src="{% static 'scripts/fancybox/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'scripts/main-header.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>
    <script src="{% static 'scripts/calendar.js' %}"></script>
{% endblock %}
