{% extends "users/profile.html" %}
{% load static %}

{% block right_column %}
        <div class="toggle-button-wrapper">
            <a href="{% url 'show_read' %}" class="button toggle-button">Прочитанные <span>новости</span></a>
            <a class="button toggle-button toggle-button--active">Закладки <span>новостей</span></a>
        </div>

        <section class="card card--profile">
            <article class="card__item">
                <a href="#" class="card__link">
                    <div class="card__image-wrapper">
                        <img src="{% static 'img/mock1.jpg' %}" alt="Новость">
                    </div>
                    <div class="card__wrapper">
                        <header class="card__header">
                            <h2 class="card__title">В Кирове управляющая компания завышала плату за “коммуналку” из-за ошибок в вычислениях</h2>
                        </header>
                        <p class="card__text">Дорожный знак 3.1. "Въезд запрещён" перенесён на 200 метров в сторону</p>
                    </div>
                </a>
                <div class="card__inner-wrapper">
                    <a href="#" class="card__rubric">Политика</a>
                    <a href="#" class="bookmark bookmark--red"><span class="bookmark__text bookmark__text--red">В закладкax</span></a>
                </div>
                <div class="marks">
                    <time class="card__time">Вчера, 14:15</time>
                    <div class="hashteg">
                        <a href="#" class="hashteg__item">#Чтослучилось</a>
                    </div>
                </div>
            </article>
            <article class="card__item">
                <a href="###" class="card__link">
                    <div class="card__image-wrapper">
                        <img src="{% static 'img/mock1.jpg' %}" alt="Новость">
                    </div>
                    <div class="card__wrapper">
                        <header class="card__header">
                            <h2 class="card__title">В Кирове управляющая компания завышала плату за “коммуналку” из-за ошибок в вычислениях</h2>
                        </header>
                        <p class="card__text">Дорожный знак 3.1. "Въезд запрещён" перенесён на 200 метров в сторону</p>
                    </div>
                </a>
                <div class="card__inner-wrapper">
                    <a href="#" class="card__rubric">Политика</a>
                    <a href="##" class="bookmark bookmark--red"><span class="bookmark__text bookmark__text--red">В закладкax</span></a>
                </div>
                <div class="marks">
                    <time class="card__time">Вчера, 14:15</time>
                    <div class="hashteg">
                        <a href="#" class="hashteg__item">#Чтослучилось</a>
                    </div>
                </div>
            </article>
        </section>

    </div>
{% endblock %}